[buildout]
parts +=
    python25
    pythonbin25

[python25]
recipe = zc.recipe.cmmi

# default
url = https://python.org/ftp/python/2.5.6/Python-2.5.6.tgz
md5sum = d1d9c83928561addf11d00b22a18ca50

executable = ${buildout:directory}/parts/python25/bin/python2.5
extra_options=
    --enable-unicode=ucs4
    --with-threads
    --with-readline
    --with-ssl

[pythonbin25]
recipe = plone.recipe.command
command = ln --force -s ${python25:executable} ${buildout:bin-directory}/python25
