[buildout]
# sudo apt-get install build-essential libreadline5-dev zlib1g-dev libbz2-dev \
#                      libssl-dev libjpeg62-dev
python = python
parts =
    python
    pythonbin

[python]
recipe = zc.recipe.cmmi
url = http://python.org/ftp/python/2.4.6/Python-2.4.6.tgz 
executable = ${buildout:directory}/parts/python/bin/python2.4
extra_options=
    --enable-unicode=ucs4
    --with-threads
    --with-readline

[pythonbin]
recipe = plone.recipe.command
command = ln -s ${python:executable} ${buildout:bin-directory}/python

