[buildout]
parts +=
    python26
    pythonbin26

[python26]
recipe = zc.recipe.cmmi

# default
url = https://python.org/ftp/python/2.6.9/Python-2.6.9.tgz
md5sum = bddbd64bf6f5344fc55bbe49a72fe4f3

# natty / pengolin
#url = http://www.bluedynamics.eu/Python-2.6.8-ubuntu.tar.gz
#md5sum = 9c8db658903dd5396a56c73003fc611b

executable = ${buildout:directory}/parts/python26/bin/python2.6
extra_options=
    --enable-unicode=ucs4
    --with-threads
    --with-readline
    --with-ssl

[pythonbin26]
recipe = plone.recipe.command
command = ln --force -s ${python26:executable} ${buildout:bin-directory}/python26
