# sudo apt-get install build-essential libreadline5-dev zlib1g-dev libbz2-dev \
#                      libssl-dev libjpeg62-dev
[buildout]
extends = base.cfg
python = python26
parts =
    python26
    pythonbin26
    pythonbin

[python26]
recipe = zc.recipe.cmmi

# default
url = http://python.org/ftp/python/2.6.6/Python-2.6.6.tgz
md5sum = b2f209df270a33315e62c1ffac1937f0

# natty
#url = http://www.bluedynamics.eu/Python-2.6.6-natty64.tar.gz
#md5sum = e43e1a8c56135971606aee54c49d6228

executable = ${buildout:directory}/parts/python26/bin/python2.6
extra_options=
    --enable-unicode=ucs4
    --with-threads
    --with-readline
    --with-ssl

[pythonbin26]
recipe = plone.recipe.command
command = ln -s ${python26:executable} ${buildout:bin-directory}/python26

[pythonbin]
recipe = plone.recipe.command
command = ln -s ${python26:executable} ${buildout:bin-directory}/python
